<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      const socket = io();

      socket.on("dht_data", (data) => {
        console.log("Received MQTT Data:", data);
        const container = document.getElementById("data-container");
        const message = `Time: ${data.date}, Temperature: ${data.temperature}, Humidity: ${data.humidity}`;
        const p = document.createElement("p");
        p.textContent = message;
        container.prepend(p);
      });
      socket.on("dht_data", (data) => {
        document.getElementById(
          "temperature"
        ).textContent = `Temperature: ${data.temperature}°C`;
        document.getElementById(
          "humidity"
        ).textContent = `Humidity: ${data.humidity}%`;
      });
    </script>
  </head>
  <body>
    <%- include("../pages/dashboard2.ejs") %>
    <script>
      const options = {
        chart: {
          height: "100%",
          maxWidth: "100%",
          type: "line",
          fontFamily: "Inter, sans-serif",
          dropShadow: {
            enabled: false,
          },
          toolbar: {
            show: false,
          },
        },
        tooltip: {
          enabled: true,
          x: {
            show: false,
          },
        },
        dataLabels: {
          enabled: false,
        },
        stroke: {
          width: 6,
        },
        grid: {
          show: true,
          strokeDashArray: 4,
          padding: {
            left: 2,
            right: 2,
            top: -26,
          },
        },
        series: [
          {
            name: "Clicks",
            data: <%- JSON.stringify(chartData.temperature) %>,
            color: "#1A56DB",
          },
          {
            name: "CPC",
            data: <%- JSON.stringify(chartData.humidity) %>,
            color: "#7E3AF2",
          },
        ],
        legend: {
          show: false,
        },
        stroke: {
          curve: "smooth",
        },
        xaxis: {
          categories: <%- JSON.stringify(chartData.labels) %>,
          labels: {
            show: true,
            style: {
              fontFamily: "Inter, sans-serif",
              cssClass: "text-xs font-normal fill-gray-500 dark:fill-gray-400",
            },
          },
          axisBorder: {
            show: false,
          },
          axisTicks: {
            show: false,
          },
        },
        yaxis: {
          show: false,
        },
      };

      if (
        document.getElementById("line-chart") &&
        typeof ApexCharts !== "undefined"
      ) {
        const chart = new ApexCharts(
          document.getElementById("line-chart"),
          options
        );
        chart.render();
      }
    </script>
    <script>
      function toggleMistingFan() {
        console.log("cc");
        socket.emit("toggle_misting_fan");
      }
    </script>
  </body>
</html>
