<div class="bg-gray-900 flex flex-row h-screen gap-5 px-8 py-5">
  <div class="w-4/5 flex flex-col gap-5">
    <div class="bg-gray-800 shadow-2xl rounded-xl flex flex-row min-h-36 px-6">
      <div class="w-1/3 flex flex-col justify-center items-center">
        <button
          type="button"
          onclick="toggleMistingFan()"
          class="h-10 px-5 py-2.5 rounded-full text-white text-sm tracking-wider font-medium border border-current outline-none bg-blue-700 hover:bg-blue-800 active:bg-blue-700"
        >
          Misting Fan
        </button>
      </div>
      <div class="w-1/3 flex flex-col justify-center items-center">
        <div class="relative mb-6">
          <label for="labels-range-input" class="sr-only">Labels range</label>
          <input
            id="led_value"
            type="range"
            oninput="updateSliderValue(this)"
            value="255"
            min="0"
            max="255"
            class="w-full h-2 bg-gray-200 rounded-lg appearance-none cursor-pointer dark:bg-gray-700"
          />
          <span
            id="sliderValue"
            class="absolute top-[-1.5rem] text-sm text-gray-700 dark:text-gray-300 transform -translate-x-1/2"
            style="transition: left 0.1s"
          >
            255
          </span>
          <span
            class="text-sm text-gray-500 dark:text-gray-400 absolute start-0 -bottom-6"
            >0</span
          >
          <span
            class="text-sm text-gray-500 dark:text-gray-400 absolute end-0 -bottom-6"
            >255</span
          >
        </div>
      </div>
      <div class="w-1/3 flex flex-col justify-center items-center">
        <label class="inline-flex items-center me-5 cursor-pointer">
          <input
            type="checkbox"
            value=""
            class="sr-only peer"
            onchange="toggleNightLight(this)"
            checked
          />
          <div
            class="relative w-11 h-6 bg-gray-200 rounded-full peer dark:bg-gray-700 peer-focus:ring-4 peer-focus:ring-purple-300 dark:peer-focus:ring-purple-800 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-purple-600"
          ></div>
          <span
            class="flex flex-row gap-1 justify-center items-center ms-3 text-sm font-medium text-gray-900 dark:text-gray-300"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 384 512"
              class="w-5 h-5"
            >
              <!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
              <path
                fill="#FFD43B"
                d="M223.5 32C100 32 0 132.3 0 256S100 480 223.5 480c60.6 0 115.5-24.2 155.8-63.4c5-4.9 6.3-12.5 3.1-18.7s-10.1-9.7-17-8.5c-9.8 1.7-19.8 2.6-30.1 2.6c-96.9 0-175.5-78.8-175.5-176c0-65.8 36-123.1 89.3-153.3c6.1-3.5 9.2-10.5 7.7-17.3s-7.3-11.9-14.3-12.5c-6.3-.5-12.6-.8-19-.8z"
              />
            </svg>
            Night light</span
          >
        </label>
      </div>
    </div>
    <div class="flex flex-row justify-between gap-5">
      <div
        class="w-full flex flex-row gap-5 p-6 bg-white border border-gray-200 rounded-lg shadow-xl hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"
      >
        <div
          class="flex flex-row rounded-full bg-white justify-center items-center w-20 h-20"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 320 512"
            class="w-8 h-8"
          >
            <!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
            <path
              d="M160 64c-26.5 0-48 21.5-48 48l0 164.5c0 17.3-7.1 31.9-15.3 42.5C86.2 332.6 80 349.5 80 368c0 44.2 35.8 80 80 80s80-35.8 80-80c0-18.5-6.2-35.4-16.7-48.9c-8.2-10.6-15.3-25.2-15.3-42.5L208 112c0-26.5-21.5-48-48-48zM48 112C48 50.2 98.1 0 160 0s112 50.1 112 112l0 164.4c0 .1 .1 .3 .2 .6c.2 .6 .8 1.6 1.7 2.8c18.9 24.4 30.1 55 30.1 88.1c0 79.5-64.5 144-144 144S16 447.5 16 368c0-33.2 11.2-63.8 30.1-88.1c.9-1.2 1.5-2.2 1.7-2.8c.1-.3 .2-.5 .2-.6L48 112zM208 368c0 26.5-21.5 48-48 48s-48-21.5-48-48c0-20.9 13.4-38.7 32-45.3L144 208c0-8.8 7.2-16 16-16s16 7.2 16 16l0 114.7c18.6 6.6 32 24.4 32 45.3z"
            />
          </svg>
        </div>
        <div>
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-[#1A56DB]">
            Current temperature
          </h5>
          <div class="flex flex-row gap-4 justify-center">
            <p
              id="temperature"
              class="font-extrabold text-5xl text-gray-700 dark:text-gray-400"
            >
              --
            </p>
          </div>
        </div>
      </div>
      <div
        class="w-full flex flex-row gap-5 p-6 bg-white border border-gray-200 rounded-lg shadow-xl hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"
      >
        <div
          class="flex flex-row rounded-full bg-white justify-center items-center w-20 h-20"
        >
          <img src="images/humidity.svg" class="w-8 h-8" alt="Humidity" />
        </div>
        <div>
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-[#7E3AF2]">
            Current humidity
          </h5>
          <div class="flex flex-row gap-4 justify-center">
            <p id="humidity" class="font-extrabold text-5xl text-gray-400">
              --
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="bg-white rounded-lg shadow dark:bg-gray-800 p-4 md:p-6">
      <div class="flex justify-between mb-5">
        <div class="grid gap-4 grid-cols-2">
          <div>
            <h5
              class="inline-flex items-center text-gray-500 dark:text-gray-400 leading-none font-normal mb-2"
            >
              Average temperature
            </h5>
            <p
              class="text-gray-900 dark:text-white text-2xl leading-none font-bold"
            >
              <%- averageTemperature %>°C
            </p>
          </div>
          <div>
            <h5
              class="inline-flex items-center text-gray-500 dark:text-gray-400 leading-none font-normal mb-2"
            >
              Average humidity
            </h5>
            <p
              class="text-gray-900 dark:text-white text-2xl leading-none font-bold"
            >
              <%- averageHumidity %>%
            </p>
          </div>
        </div>
        <div>
          <h5 class="font-semibold text-white">Last 7 days</h5>
        </div>
      </div>
      <div id="line-chart"></div>
      <div
        class="grid grid-cols-1 items-center border-gray-200 border-t dark:border-gray-700 justify-between mt-2.5"
      ></div>
    </div>
  </div>
  <div class="w-1/5 flex flex-col gap-5">
    <div
      class="bg-gray-800 items-center shadow-2xl rounded-xl flex flex-col min-h-[686px] py-2 px-6"
    >
      <div class="flex flex-row ml-auto mb-5">
        <h3 class="font-bold text-white text-4xl">Activity</h3>
      </div>
      <div id="activity-container" class="flex flex-col gap-3">
        <% activityData.forEach(activity => { %>
        <div
          class="block max-w-sm p-6 bg-gray-600 rounded-lg shadow hover:bg-[#007bff]"
        >
          <h5
            class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white"
          >
            <%- activity.activity %>
          </h5>
          <p class="font-normal text-sm text-gray-300">
            At: <%- activity.date %>
          </p>
        </div>
        <% }) %>
      </div>
    </div>
  </div>
</div>
